@import"https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap";
body{font-family:Roboto,sans-serif;overflow-x:hidden;}
html{line-height:1.5;-webkit-text-size-adjust:100%;-moz-tab-size:4;-o-tab-size:4;tab-size:4;font-family:ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";font-feature-settings:normal;font-variation-settings:normal;-webkit-tap-highlight-color:transparent}
code,kbd,samp,pre{font-family:ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;font-feature-settings:normal;font-variation-settings:normal;font-size:1em}
button,input,optgroup,select,textarea{font-family:inherit;font-feature-settings:inherit;font-variation-settings:inherit;font-size:100%;font-weight:inherit;line-height:inherit;color:inherit;margin:0;padding:0}
.font-sans{font-family:ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji"}
.bg-terang{background-image:url("../img/terang.svg");background-repeat:repeat;background-size:400px;}
.bg-gelap{background-image:url("../img/gelap.svg");background-repeat:repeat;background-size:400px;}
.ftools{scrollbar-width:thin;scrollbar-color:#444 transparent;}
.ftools::-webkit-scrollbar{width:4px;}
.ftools::-webkit-scrollbar-track{background:transparent;}
.ftools::-webkit-scrollbar-thumb{background:#444;border-radius:4px;}
.CodeMirror{line-height:1.4em !important;font-size:0.75rem !important;position:relative !important;overflow:hidden !important;}
.CodeMirror .CodeMirror-scroll{scrollbar-width:thin !important;scrollbar-color:#444 transparent !important;}
.CodeMirror .CodeMirror-scroll::-webkit-scrollbar{width:4px !important;}
.CodeMirror .CodeMirror-scroll::-webkit-scrollbar-track{background:transparent !important;}
.CodeMirror .CodeMirror-scroll::-webkit-scrollbar-thumb{background:#444 !important;border-radius:4px !important;}
.CodeMirror .CodeMirror-scrollbar{scrollbar-width:thin !important;scrollbar-color:#444 transparent !important;}
.CodeMirror .CodeMirror-scrollbar::-webkit-scrollbar{width:4px !important;}
.CodeMirror .CodeMirror-scrollbar::-webkit-scrollbar-track{background:transparent !important;}
.CodeMirror .CodeMirror-scrollbar::-webkit-scrollbar-thumb{background:#444 !important;border-radius:4px !important;}
#skulpt .CodeMirror .CodeMirror-scroll,#skulpt .CodeMirror .CodeMirror-gutter{background:#1e1f21 !important;}
dialog .CodeMirror .CodeMirror-scroll,dialog .CodeMirror .CodeMirror-gutter{background:#131313 !important;}