@import url(//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(//fonts.googleapis.com/css?family=Roboto:100italic,100,300italic,300,400italic,400,500italic,500,700italic,700,900italic,900);

body {
	font-family: Roboto;
	background: #fafafa
}

a, a:hover, a:active, a:focus {
   outline: 0;
   text-decoration: none;
   color: #5CADFF
}

.main {
	position: absolute;
	top: 55px;
}

.main h1 {
	text-align: center;
	border-bottom: 1px solid #333;
	padding-bottom: 20px
}

.main .post h1 {
	border-bottom: 1px solid #eee;
}

.main .post {
	background: #fff;
	padding: 10px 20px 20px 20px;
	margin-top: 30px;
	color: #333;
}

ul#info li {
	margin-bottom: 15px
}

footer {
	margin-top: 60px;
	padding: 20px 10px 20px 10px;
	width: 100%;
	text-align: center;
}
